<%= form.field_container :title do %>
  <%= form.label :title, t('page.title') %> <span class="required">*</span><br />
  <%= form.text_field :title, :class => "title"  %>
  <%= error_message_on :page, :title %>
<% end %>

<%= form.field_container :meta_title do %>
  <%= form.label :meta_title, t('page.meta_title') %><br />
  <%= form.text_field :meta_title, :class => "text"  %>
  <%= error_message_on :page, :meta_title %>
<% end %>

<%= form.field_container :meta_description do %>
  <%= form.label :meta_description, t('page.meta_description') %><br />
  <%= form.text_field :meta_description, :class => "text"  %>
  <%= error_message_on :page, :meta_description %>
<% end %>

<%= form.field_container :meta_keywords do %>
  <%= form.label :meta_keywords, t('page.meta_keywords') %><br />
  <%= form.text_field :meta_keywords, :class => "text"  %>
  <%= error_message_on :page, :meta_keywords %>
<% end %>

<%= form.field_container :accessible do %>
  <%= form.check_box :accessible, :class => "text"  %> &nbsp;
  <%= form.label :accessible, t('page.accessible') %>
  &ndash; <em><%= t('page.explain_accessible') %></em>
  <%= error_message_on :page, :accessible %>
<% end %>

<div id="field_path">

  <%= form.field_container :path do %>
    <%= form.label :path, t('page.path') %><br />
    <%= form.text_field :path, :class => "text"  %>
    <%= error_message_on :page, :path %>
  <% end %>

  <%= form.field_container :visible do %>
    <%= form.check_box :visible, :class => "text" %> &nbsp;
    <%= form.label :visible, t('page.visible') %> 
    &ndash; <em><%= t('page.explain_visible') %></em>
    <%= error_message_on :page, :visible %>
  <% end %>
  
  <div id="field_nav_title">
    <%= form.field_container :nav_title do %>
      <%= form.label :nav_title, t('page.nav_title') %><br />
      <%= form.text_field :nav_title, :class => "text"  %>
      <%= error_message_on :page, :nav_title %>
    <% end %>
  </div>

</div>

<script type="text/javascript">
//<![CDATA[

  $(document).ready(function() {
  
  	$('#page_accessible').change(function(evt) {
      $('#field_path').toggle(this.checked);
    }).change();
    
  	$('#page_visible').change(function(evt) {
      $('#field_nav_title').toggle(this.checked);
    }).change();

  });     
  
//]]>
</script>
