<%= render :partial => 'admin/shared/contents_sub_menu' %>

<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%= button_link_to t('.new_page'), new_object_url, :icon => 'add' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t('.listing_pages') %></h1>

<table class="index sortable">
  <thead>
	<tr>
    	<th><%= sort_link @search, :title, t("page.title") %></th>
    	<th><%= sort_link @search, :path, t("page.path") %></th>
    	<th><%= sort_link @search, :accessible, t("page.accessible") %></th>
    	<th><%= sort_link @search, :visible, t("page.visible") %></th>
    	<th><%= t("action") %></th>
	</tr>
  </thead>
  <tbody>
    <%- @collection.each do |page|%>
    <tr id="<%= dom_id page %>">
      <td><span class="handle">&nbsp;</span>&nbsp; <%=link_to page.title, object_url(page) %></td>
      <td><%= page.path %></td>
      <td><%= page.accessible %></td>
      <td><%= page.visible %></td>
      <td>
      	<%= link_to_with_icon :accept, t('preview'), page.path, :onclick => 'window.open(this.href);return false;' %> &nbsp;
      	<%= link_to_with_icon :pages, t('page.contents'), admin_page_contents_path(page) %> &nbsp;
      	<%= link_to_edit page %> &nbsp;
      	<%= link_to_delete page %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @collection %>

<% content_for :sidebar do %>
<div class="box">
  <h3><%= t(:search) %></h3>

  <% @page = Page.metasearch %>
  <%= form_for [:admin, @page] do |f| %>
    <%- locals = {:f => f} %>
    <%= hook :admin_pages_index_search, locals do %>
      <p>
        <label><%= t '.title_contains' %></label><br />
        <%= f.text_field :title_contains, :size => 25 %>
      </p>      
    <% end %>
    <%= hook :admin_pages_index_search_buttons, locals do %>
      <p><%= button t("search") %></p>
    <% end %>
  <% end %>
</div>
<% end %>
