<% content ||= @content %>
<% html ||= false %>
<% content_counter ||= 0 %>

<% unless content.nil? %>
  
  <div class="content<%= ' alt' if content_counter % 2 == 0 %>" id="<%= dom_id(content) %>">
    
    <% if content.has_image? %>
      <div class="content-left">
        <%= image_tag content.attachment.url(:medium), :alt => content.title, :class => 'in-content' %>
      </div>
    <% end %>
    
    <div class="<%= content.has_image? ? "content-right" : "content-main" %>">
      <% unless content.hide_title? %>
        <h1 class="title"><%= content.title %></h1>
      <% end %>
      
      <%= content.rendered_body %>
      
      <% if content.has_full_link? %>
        <%= link_to content.link_text || 'read more', content.link %>
      <% end %>
    </div>    
  
    <br class="clear"/>
        
  </div>
  
  <br class="clear"/>

<% end %>