<%= render :partial => 'spree/admin/shared/page_tabs', :locals => {:current => "Images"} %>

<table class="index sortable" data-sortable-link="<%= update_positions_admin_page_images_url(@page) -%>">
  <thead>
    <tr>
      <th><%= t("thumbnail") %></th>
      <th><%= t("alt_text") %></th>
      <th><%= t("action") %></th>
    </tr>
  </thead>
  <tbody>
    <% @page.images.each do |image| %>
      <tr id="<%= spree_dom_id(image) %>">
        <td><span class="handle">&nbsp;</span>&nbsp; <%= link_to(image_tag(image.attachment.url(:mini)), image.attachment.url(:large)) %></td>
        <td><%= image.alt %></td>
        <td class="actions">
          <%= link_to_with_icon('edit', t("edit"), edit_admin_page_image_url(@page, image)) %>
          &nbsp;
          <%= link_to_delete image, {:url => admin_page_image_url(@page, image) }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="images"></div>
<br/>
<p>
    <%= link_to icon('add') + ' ' + t("new_image"), new_admin_page_image_url(@page), :id => "new_image_link" %>
</p>

<% content_for :head do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){

      jQuery('#new_image_link').click(function (event) {
        event.preventDefault();
        jQuery(this).hide();
        jQuery.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r){ jQuery('#images').html(r);} });
      });

    });
  </script>
<% end %>
