<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%= button_link_to t('.new_content'), new_object_url, :icon => 'add' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>

<%= render :partial => 'spree/admin/shared/page_tabs', :locals => {:current => 'Contents'} %>

<h2><%= t('.listing_contents') %></h2>

<table class="index sortable" data-sortable-link="<%= update_positions_admin_page_contents_url(@page) -%>">
  <thead>
  <tr>
      <th><%= sort_link @search, :title, t("content.title") %></th>
      <th><%= sort_link @search, :context, t("content.context") %></th>
      <th><%= t("action") %></th>
  </tr>
  </thead>
  <tbody>
    <%- @collection.each do |content|%>
    <tr id="<%= spree_dom_id content %>">
      <td><span class="handle">&nbsp;</span>&nbsp; <%= link_to content.title, object_url(content) %></td>
      <td><%= content.context %>
      <td>
        <%= link_to_edit content %> &nbsp;
        <%= link_to_delete content %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @collection %>

<% content_for :sidebar do %>
  <div class="box">
    <h3><%= t(:search) %></h3>
    <%= search_form_for [:admin, @page, @search] do |f| %>
      <p>
        <%= f.label :title_cont, t('content.title') %><br />
        <%= f.text_field :title_cont, :size => 25 %>
      </p>
      <p>
        <%= f.label :context_cont, t('content.context') %><br />
        <%= f.text_field :context_cont, :size => 25 %>
      </p>
      <p><%= button t("search") %></p>
    <% end %>
  </div>
<% end %>
