<%= render :partial => 'spree/admin/shared/contents_sub_menu' %>
<%= render :partial => 'spree/admin/shared/page_tabs', :locals => {:current => 'Contents'} %>

<h2>Content: <%= h @content.title %></h2>

<%= RDiscount.new(@content.body).to_html.html_safe %>

<p>
  <%= link_to_edit @content %>
  <%= link_to t('back'), collection_url %>
</p>
